{
	"presets": [
		//"es2015",
		"env"
		// [
		// 	'@babel/preset-env',
		// 	{
		// 		targets: {
		// 			node: 'current',
		// 		},
		// 	}
		// ]
		
	],
	"env":{
		"test":{
		"presets":["env"]
	}
}
}
